.toast__list {
    --viewport-padding: 16px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  z-index: 9999;
  outline: none;
}
.user__toast {
  @apply flex items-center justify-between border-l-8 border-[1px] border-l-secondary rounded-md m-3 sm:m-2 p-3 w-72 sm:w-80 bg-base-100
   
}
.user__toast[data-opened] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.user__toast[data-closed] {
  animation: hide 100ms ease-in;
}
.user__toast[data-swipe="move"] {
  transform: translateX(var(--kb-toast-swipe-move-x));
}
.user__toast[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.user__toast[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}
@keyframes swipeOut {
  from {
    transform: translateX(var(--kb-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}
