---
import NavbarMobile from "@components/Navbar/NavbarMobile";
import Navbar from "@components/Navbar/Navbar";
import Introduction from "../sections/Introduction.astro";
import Education from "../sections/Education.astro";
import Experiences from "../sections/Experiences.astro";
import Projects from "../sections/Projects.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="h-20 sticky top-0 bg-white z-10">
      <div class="block sm:hidden h-full">
        <NavbarMobile client:visible />
      </div>
      <div class="hidden sm:block h-full">
        <Navbar client:visible />
      </div>
    </div>

    <Introduction />
    <Education />
    <Experiences />
    <Projects />

  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
