---
import Navbar from "@components/NavBar.astro";
import Introduction from "@layouts/Introduction.astro";
import Education from "@layouts/Education.astro";
import Experiences from "@layouts/Experiences.astro";
import Projects from "@layouts/Projects.astro";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
  </head>
  <body class="mx-2">
    <Navbar />

    <!-- Sections -->
    <Introduction />

    <Education />

    <Experiences />

    <Projects />

    <div id="notification" class="toast hidden z-[60]">
      <div id="notification-inner" class="alert alert-success">
        
      </div>
    </div>
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
  .btn-unstyled {
    @apply btn;
    text-transform: none;
  }
</style>
