<div class="">
  <ul class="list-none">
    <div>
      <li>
        <div class="haha rounded-2xl">
          <div class="time">09:00 AM</div>
          <p>Working at I.C.E companyhahahah</p>
        </div>
      </li>
      <li>
        <div class="haha rounded-2xl">
          <div class="time">09:00 AM</div>
          <p>Learning SQL and Python in Datacamp</p>
        </div>
      </li>
      <li>
        <div class="haha rounded-2xl">
          <div class="time">09:00 AM</div>
          <p>Develop python script to automate task at I.C.E company</p>
        </div>
      </li>
      <li>
        <div class="haha rounded-2xl">
          <div class="time">09:00 AM</div>
          <p>Learning backend in Flask and frontend in jQuery and Javascript</p>
        </div>
      </li>
      
    </div>
  </ul>

  <style>
    li {
      padding-bottom: 1.5rem;
      border-left: 1px solid #abaaed;
      position: relative;
      padding-left: 20px;
      margin-left: 10px;
    }
    li:before {
      content: "";
      width: 15px;
      height: 15px;
      background: white;
      border: 1px solid #4e5ed3;
      box-shadow: 3px 3px 0px #bab5f8;
      border-radius: 50%;
      position: absolute;
      left: -10px;
      top: 0px;
    }
    .haha {
      box-shadow: 3px 3px 0px #8484c7;
    }
  </style>
</div>
