---
import Timeline from "../components/Timeline.astro";
import VerticalTime from "@components/Timeline/VerticalTime.astro";

const experienceContents = [
  {
    color: "primary",
    date: "June 07",
    content: "Working at I.C.E company\nhahahah",
  },
  {
    color: "success",
    date: "June 08",
    content: "Learning SQL and Python in Datacamp",
  },
  {
    color: "warning",
    date: "June 09",
    content: "Develop python script to automate task at I.C.E company",
  },
  {
    color: "error",
    date: "June 10",
    content: "Learning backend in Flask and frontend in jQuery and Javascript",
  },
];
---

<section id="experiences" class="pt-20">
  <div class="min-h-fit sm:h-screen sm:max-h-[750px]">
    <h1 class="text-5xl font-bold text-center">💼 Experiences</h1>
    <div class="hidden sm:block">
      <div class="mt-10 mx-10 flex justify-center">
        <Timeline contents={experienceContents} />
      </div>
    </div>
    <div class="block sm:hidden">
      <div class="mt-10 mx-3 flex justify-center">
        <VerticalTime />
      </div>
    </div>
  </div>
</section>
